@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
  font-family: 'Oswald', sans-serif;
}


#hero{
  padding-top: 9px;
  margin:auto;
  color: white;
  background-color: #304A53;
  width: 65%;
  text-align: center;
  margin-bottom: 35px;
}

.skills {
  font-size: 16px;
  padding: 0 15px 15px 15px;
}

.topNav{
  background-color:black;
  display: flex;
  justify-content: left;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right:60px;
  margin-bottom: 30px;
}

.topNav a{
  padding-bottom: 10px;
  color: white;
  margin-left: 30px;
  font-size: 18px;
  text-decoration: none;
  padding-top: 10px;
}

a.topLinks{
    position: relative;
}

a.topLinks:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

a.topLinks:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.projectTitle{
  text-align: center;
  margin-bottom: 20px;
}

.projectsContainer{
  margin-top: 10px;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  text-align: center;
}

.projectsContainer img {
  width: 50%;
}

.projectsContainer .item {
  background-color: #304A53;
  margin-bottom: 40px;
}

.item{
  padding:20px;
  color: white;
}

.projectsContainer a {
  padding: 6px;
  border-radius: 5px;
  border: 3px solid black;
  text-decoration: none;
  color: white;
}

.projectsContainer a:hover {
  background-color: white;
}

.projectsContainer h3 {
  margin: 30px;
}

.project-div{
  display: flex;
  flex-direction: column;
}

.wholePage{
  background-image: url(https://images.unsplash.com/photo-1547149600-a6cdf8fce60c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80);
  margin: -15px;
  max-height: fit-content;
}

.container {
  margin: 10px;
  position: relative;
  width: 30%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: gray;
}

.container:hover .overlay {
  opacity: .5;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.cardsTitle{ 
  text-align: center;
}

.contactMeContainer{
  max-height: min-content;
  background-color: #304A53;
  padding: 10px;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

#main-content{
  padding-bottom: 20px;
}

.div-btn {
  margin-bottom: 10px;
  margin-top: 10px;
}

.div-btn a{
  margin-right: 10px;
}